<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1>
      <%= "#{@address.street_address}" %> 
      <% if @address.unit != "" %>
        <%=", Unit #{@address.unit}" %>
      <% end %> 
    </h1>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
<!-- <h2>Property information</h2> -->
<!-- <%= content_tag "div", class: "housing-data", data: {streetAddress: @address.street_address, unit: @address.unit} do %> -->
<% end %>  
<div class="show-container">
  <h2>Recent 311 calls in your neighborhood</h2>
  <div class="open311-data">
  </div>
  <div class="address-tools">
    <ul class="list-centered">
      <li><%= link_to "Edit address", edit_user_address_path( current_user, @address)%></li>
      <li><%= link_to "Delete address", user_address_path( current_user, @address), method: :delete %></li>  
    </ul>
  </div>  
</div>
