<!DOCTYPE html>
<html>
<head>
  <title>Philly 311 Monitor</title>
  <link href='https://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'devise_layout', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Change below if you use any custom js for devise layouts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1><%= link_to "Philly 311 Monitor", root_path %></h1>
</header>
<div class="devise-container">
  <%= yield %>
</div>
</body>
</html>
